html {
    font: normal 1em/1.5 Arial,Helvetica,sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightsteelblue;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
   
}


.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
   
}


nav {
    overflow: hidden;
    margin: 30px auto;
}

.navlink {
    float: left;
    margin-right: 50px;
}

.dellink {
    color: #dd1111;
    float: right;
}

.navlink_nt {
    float: right;
    margin-right: 50px;
    background: teal;
    padding: 2px;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
}

.delbutton {
    display: block;
    margin: 0 auto;
    background: #dd1111;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
}


#containerlist, #containershow {
    width: 80%;
    margin: 50px;
    background: skyblue;
    padding: 50px;
    border: 5px solid white;
    border-radius: 5em;

}

.listitem{
    margin: 10px 0;
}


p, h2 {
    margin: 0.6em auto;
    
} 

header {
    background: rgb(117, 122, 182);
    padding: 1px;
    letter-spacing: 10px;
}



.exp {
    font-size: 1.2em;
    font-family: 'Segoe UI';
    text-align: center;
}


a, a:link {
    color: darkblue;
    text-decoration:none;
}

 
    a:hover {
        cursor: pointer;
        color: red;
        background-color: lightgrey;
        text-decoration: none;
    }

    a:active {
        color: black;
        background-color: greenyellow;
    }

    #st {
       color: red;
    }


li {
    font-size: 1.2em;
    margin-right: 2em;
}

.inputrow {
    margin-bottom: 15px;
    width: 60%;
    overflow: hidden;
}

    .inputrow input, .inputrow textarea {
        float: right;
    }

    .inputrow textarea {
        width: 100%;
        max-width: none;
        float: none;
    }

    .inputrow input[type="submit"] {
        float: none;
        margin-top: 50px;
    }

